@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body, html{
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
  cursor: default;
}

body::-webkit-scrollbar {
  width: 0 !important;
}

/* NAVIGATION BAR ----------------------------------------------------------------- */


/* INTRO ----------------------------------------------------------------------- */
div#homepage{
  width: 50%;
  transform: translateX(50%);
  height: 80vh;
  margin-top: 15vh;
}

#homepage p{
  text-align: center;
  font-size: 20pt;
}

.button{
  margin-top: 5em;
  margin-left: 38%;
}

.button a{
  background-color: #064e7f;
  color: #ffff;
  font-size: 16pt;
  text-decoration: none;
  padding: 20px 30px 20px 30px;
  border: 5px solid #064e7f;
  transition: 0.5s;
}

.button a:hover{
  background-color: #ffff;
  color: #064e7f;
  transition: 0.5s;
}

.scroll-down{
  position: relative;
  bottom: 25px;
  width: 100%;
  height: 25px;
}

figure img{
  height: 25px;
  width: 50%;
  margin-left: 25%;
  transition: 0.5s;
}

figure img:hover{
  height: 30px;
  transition: 0.5s;
}

/* TYPOGRAPHY ----------------------------------------------------------------- */
#homepage h1{
  font-size: 64pt;
  text-align: center;
  margin-top: auto;
  color: #064e7f
}

h1 span{
  font-size: 80pt;
  font-weight: bold;
}

.date h2{
  font-size: 36pt;
  text-align: center;
  margin-top: auto;
}

p{
  font-size: 16pt;
}

/* TIMELINE ----------------------------------------------------------------- */
.date{
  position: absolute;
    right: 50%;
    padding-top: 20px;
    padding-bottom: 20px;
    transform: translateX(50%);
    background-color: #fff;
    z-index: 1;
}

.timeline{
  position: relative;
  margin: 50px auto;
  width: 100%;
  height: 100%;
  padding: 50px 0;
}

/* line 1 */
.timeline ul:before{
  content: '';
  position: absolute;
  height: 120vh;
  right: 50%;
  transform: translateX(50%);
  width: 15px;
  background: #0a7d6d;
  z-index: 0;
}

/* line 2 */
.timeline ul.change1:before{
  background: darkgreen;
}

.timeline ul.end:before{
  content: none;
}

.timeline ul li{
  list-style:none;
  box-sizing:border-box;
  line-height:normal;
  position:relative;
  width:50%;
  height: 100vh;
  padding: 40px;
  padding-right: 90px;
}

.timeline ul.change1 li{
  list-style:none;
  box-sizing:border-box;
  line-height:normal;
  position:relative;
  height: 100vh;
  padding: 40px;
  padding-right: 90px;
}

/*dot 1 environmental*/
.timeline ul li:before{
  content: '';
  position:absolute;
  width:40px;
  height:40px;
  background:#fff;
  border-radius:50%;
  box-shadow: 0 0 0 20px #0a7d6d;
  right: 0px;
  top:140px;
  z-index:2;
  margin:0;
}

/*dot 2 technological*/
.timeline ul.change1 li:before{
  box-shadow: 0 0 0 20px darkgreen;
}

/*left-content*/
.timeline ul li:nth-child(odd) .left_content{
  position:absolute;
  bottom:50%;
  right: 75px;
  transform: translateY(50%);
  margin:0;
  padding:8px 16px;
  width: 80%;
  text-align: right;
}

/*right-content*/
.timeline ul li:nth-child(odd) .right_content{
  position:absolute;
  bottom:50%;
  left: 105%;
  transform: translateY(50%);
  margin:0;
  text-align: left;
  width: 80%;
}

/*text content*/
.p_content{
  text-align: right;
}

/*title content*/
.right_content .title_content{
  border: solid 5px black;
  width: 50%;
  text-align: center;
  transform: translateX(5%);
}

.left_content .title_content{
  border: solid 5px black;
  width: 50%;
  text-align: center;
  transform: translateX(95%);
}
