@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body, html{
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  cursor: default;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 0 !important;
}

/* NAVIGATION BAR ----------------------------------------------------------------- */


/* INTRO ----------------------------------------------------------------------- */
div#homepage{
  width: 100%;
  height: 80vh;
  margin-top: 15vh;
}

#homepage p{
  text-align: center;
  font-size: 20pt;
  padding-left: 25%;
  padding-right: 25%;
}

.button{
  margin-top: 5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button a{
  background-color: #064e7f;
  color: #ffff;
  font-size: 16pt;
  text-decoration: none;
  padding: 20px 30px 20px 30px;
  border: 5px solid #064e7f;
  transition: 0.5s;
}

.button a:hover{
  background-color: #ffff;
  color: #064e7f;
  transition: 0.5s;
}

.scroll-down{
  position: relative;
  bottom: 25px;
  width: 100%;
  height: 25px;
}

.scroll-down figure img{
  height: 25px;
  width: 50%;
  margin-left: 25%;
  transition: 0.5s;
}

.scroll-down figure img:hover{
  height: 30px;
  transition: 0.5s;
}

/* TYPOGRAPHY ----------------------------------------------------------------- */
#homepage h1{
  font-size: 64pt;
  text-align: center;
  margin-top: auto;
  color: #064e7f
}

h1 span{
  font-size: 80pt;
  font-weight: bold;
}

.date h2{
  font-size: 36pt;
  text-align: center;
  margin-top: auto;
}

h3{
  font-size: 36pt;
  font-weight: normal;
  margin: 0.5em;
}

p{
  font-size: 20pt;
}

/* TEXT CONTENT ----------------------------------------------------------------- */
.p_content{
  height: 60vh;
  position: relative;
  top: 0;
  opacity: 1;
}

p.main_text{
  transition: all .4s;
}

.additonal_text{
  position: absolute;
  top: 50vh;
  color: transparent;
  text-shadow: 0 0 8px rgba(0,0,0,0.5);
  transition: all .4s;
}

/*BUT... --------------------------------------------------------------------*/
.btn{
  font-size: 18pt;
  padding: 10px 2px 10px 2px;
  text-align: center;
  border: 5px solid black;
  transition: all .4s;
  width: 50%;
  transform: translateX(50%);
}

.btn:hover{
  color: white;
  background-color: black;
  transition: all .4s;
}

/* IMAGES ----------------------------------------------------------------- */
.content_image figure{
  overflow: hidden;
  margin: 0;
}

.content_image figure img{
  max-height: 50vh;
  transition: all .4s;
}

/*image content*/
.right_content .content_image{
  border: solid 5px darkred;
  width: 50%;
  height: 50vh;
  text-align: center;
  transform: translateX(5%);
}

.left_content .content_image{
  border: solid 5px black;
  width: 50%;
  height: 50vh;
  text-align: center;
  transform: translateX(95%);
}

/* TIMELINE ----------------------------------------------------------------- */
.date{
  position: absolute;
    right: 50%;
    padding-top: 20px;
    padding-bottom: 20px;
    transform: translateX(50%);
    background-color: #fff;
    z-index: 1;
}

.timeline{
  position: relative;
  margin: 50px auto;
  width: 100%;
  height: 100%;
  padding: 50px 0;
}

ul{
  height: 120vh;
}

/* line 1 */
.timeline ul:before{
  content: '';
  position: absolute;
  height: 120vh;
  right: 50%;
  transform: translateX(50%);
  width: 15px;
  background: #0a7d6d;
  z-index: 0;
}

/* line 2 */
.timeline ul.change1:before{
  background: darkgreen;
}

/*LAST*/
.timeline ul.end:before{
  content: none;
}

.timeline ul li{
  list-style:none;
  box-sizing:border-box;
  line-height:normal;
  position:relative;
  width:50%;
  height: 100vh;
  padding: 40px;
  padding-right: 90px;
}

.timeline ul.change1 li{
  list-style:none;
  box-sizing:border-box;
  line-height:normal;
  position:relative;
  height: 100vh;
  padding: 40px;
  padding-right: 90px;
}

/*dot 1 environmental*/
.timeline ul li:before{
  content: '';
  position:absolute;
  width:40px;
  height:40px;
  background:#fff;
  border-radius:50%;
  box-shadow: 0 0 0 20px #0a7d6d;
  right: 0px;
  top:140px;
  z-index:2;
  margin:0;
}

/*dot 2 technological*/
.timeline ul.change1 li:before{
  box-shadow: 0 0 0 20px darkgreen;
}

/*left-content--------------------------------*/
.timeline ul li:nth-child(odd) .left_content{
  position:absolute;
  bottom:30%;
  right: 75px;
  transform: translateY(50%);
  margin:0;
  padding:8px 16px;
  width: 80%;
  text-align: right;
  overflow: hidden;

  opacity: 0;
  transition: all .5s .35s ease-out;
  will-change: all;
}

.timeline ul li:nth-child(odd) .left_content.is-visible{
  opacity: 1;
  bottom: 40%;
}

/*right-content--------------------------------*/
.timeline ul li:nth-child(odd) .right_content{
  position:absolute;
  bottom:50%;
  left: 105%;
  transform: translateY(50%);
  margin:0;
  text-align: left;
  width: 80%;
  overflow: hidden;

  opacity: 0;
  transition: all .5s .35s ease-out;
  will-change: all;
}

.timeline ul li:nth-child(odd) .right_content.is-visible{
  opacity: 1;
  bottom: 40%;
}
